canvas{
	border: 1px solid black;
	background: "#bcbcbc";
}
div{
	background: "red";
	border: 1px solid black;
	width: 200px;
}
button{
	width: 100px;
	height : 70px;
	text-align: center;

}
body{
	margin: auto;
}
html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

div .menuButton{
	width:100px;
	height:50px;
	background:"red";
}
